

.Add_card {
    margin-left: 8px;
    
    
}

.all_checkout {
    display: flex;
    justify-content: center;
    width: fit-content;
    width: 50vw;
    margin: 10vh auto;
    gap: 25px;
}

.checkout_container {
    width: 55vw !important;
    margin: 0 !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info_container {
    width: 100%;
}

.info_container div {
    margin-top: 0;
}


.shopping_bag {
    width: 100%;
    margin: 0;
}

.payment_container {
    width: 100%;
    margin: 0;
}

.shipment-info_container {
    width: 100%;
    margin: 0;
}

.order_summary_container {
    height: 100%;
    width: 600px !important;
    margin-top: 5.5vh;
}



.subtotal_text{
    text-align: left;
}

.cart_item.checkout {
    width: 100%;
    margin-right: 60px;

}

.cart_item_container.checkout {
    width: 90%;
}


.checkout_infos_mobile {
    margin-top: 30px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100vw;
}

.cart_checkout_btn.checkout {
    width: 250px;
    height: 50px;
}

@media screen and (max-width: 900px) {
    

    .checkout_infos_mobile {
        width: 100vw;
        margin: 10vh auto;
        overflow: hidden;
        
    }

    .order_summary_container_mobile {
        height: 100%;
        margin: 0;
        width: 100vw !important;
    }

    .cart_checkout_btn.checkout {
        width: 100%;
    }
}






