.text-filter {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  /* padding-right: 25px; */
  color: white;
  border-bottom: 5px solid #B51B1B;
  width: fit-content;
  margin-bottom: 1.5rem;
  /* border: solid 2px green; */
  

  
}

.filter-component {
  margin: 11vh 0;
  width: 120px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  
  
  /* overflow: scroll; */
  /* border: solid 2px green; */
  
 
  
}
.filter-component .filter-categories .h4-genre {
  margin-top: 2px;
  border-bottom: 5px solid #B51B1B;
  /* border: solid 2px blue; */
  
}

.filter-categories {
    color: white;
    margin-left: 5px;
    font-size: large;
    /* border: solid 2px yellow; */
    
   
     
}

.filter-component .header-title-cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 
  
}

.filter-component .header-title-action, .header-title-drama, .header-title-comedy,
.header-title-thriller, .header-title-family {
  font-family: "Avenir Book";
  margin-bottom: 0px;
  margin-top: 0px;
 
}
