.filter-component {
  margin: 10vh 0;
  border: solid 2px red;
  width: 100px;
  height: 300px;
 
  
}

.text-filter {
    margin-left: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-right: 25px;
    color: white;
    border-bottom: 5px solid #B51B1B;
    width: fit-content;
    margin-bottom: 1.5rem;
    /* border: solid 2px green; */
}