.home-component .movieList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-left: 300px;
  position: absolute;
  grid-gap: 1em;
  top: 150px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}

.home-component .movie-img {
  max-height: 200px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 10));
  border-radius: 20px;
}

.home-component .movie-img:hover {
  transform: scale(1.05);
}

.home-component .movieItem {
  position: relative;
}

.home-component .vote-average-container {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.home-component .vote-average {
  color: red;
  font-family: avenir;
  font-weight: bold;
}


.home-component .star-icon {
  color: red;
  position: absolute;
  right: 30px;
}

.home-component .background-img-container {
    width: 100%;
  }

/* Mobil --------------------------------*/

.home-component-mobil .movieList-mobil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1em;
  position: absolute;
  grid-gap: 1em;
  top: 90px;
  left: 90px;
}

.home-component-mobil .movieItem {
    position: relative;
  }

.home-component-mobil .movie-img {
    max-height: 300px;
    border-radius: 20px;
    
}

.home-component-mobil .vote-average-container {
    position: absolute;
    bottom: 5px;
    left: 150px;
  }
  
  .home-component-mobil .vote-average {
    color: red;
    font-family: avenir;
    font-weight: bold;
  }
  
  
  .home-component-mobil .star-icon {
    color: red;
    position: absolute;
    right: 25px;
  }
