.movie_card {
    color: white;
    background-color: #191919;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));

    font-size: 0.8rem;

    height: 400px;
    width: 200px;
    padding: 5px;

    display: flex;
    flex-direction: column;
}


.movie_card:hover {
    transform: scale(1.05);
}

.movie_card article {
    margin-top: 10px;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.movie_card button {
    color: white;
    background-color: #B51B1B;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    padding: 5px 0;
    border-radius: 5px;
    
    outline: none;
    border: none;
    cursor: pointer;
}

.movie_card button:hover {
    background-color: #b51b1bbc;
}


.movie_poster i {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.movie_poster {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)); 
    height: fit-content;
}

.movie_poster_bottom_info {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.movie_poster_bottom_info i:first-child {
    background-color: rgba(0, 0, 0, 0.75);

    position: relative;
    left: 0;
    width: 55px;
    height: 25px;
    border-top-right-radius: 25px;
}

.movie_poster_bottom_info i:last-child {
    background-color: rgba(0, 0, 0, 0.75);


    position: relative;
    right: 0;
    width: 55px;
    height: 25px;
    border-top-left-radius: 25px;
 

}



.movie_poster_cart {
    background-color: #ff0000b4;

    font-size: 18px;

    width: 45px;
    height: 45px;
    border-bottom-right-radius: 25px;

    cursor: pointer;
    
}

.movie_poster_cart:hover {
    background-color: #aa3b3ba5;
}



.movie_poster img {
    height: auto;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}

.poster_bottom_icon {
    color: #B51B1B;
}

@media screen and (max-width: 900px) {
    .movie_card:hover {
        transform: none;
    }
}