

.movieList-component {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* border: solid 2px red; */
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    
    align-items: center;
    margin-left: 150px;
    position: absolute;
    height: 330px;
    width: 90%;
    overflow: scroll;
    
    
    
}

.movieList-component .action-movies-title {
    font-family: Avenir;
    color: white;
    

}

.movieList-component .action-movie-img {
    border-radius: 20px;
    height: 300px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);
    
   
}

.movieList-component .drama-movie-img {
    border-radius: 20px;
    height: 300px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);

}