.movieList-component {
  /* border: solid 2px red; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  align-items: center;
  margin-left: 150px;
  position: absolute;
  height: 380px;
  width: 90%;
  overflow: scroll;
}

.movieList-component .action-movies-title {
  font-family: Avenir;
  color: white;
}

.movieList-component .action-movie-img,
.drama-movie-img {
  height: 300px;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 1);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.movieList-component .action-movie-img:hover,
.drama-movie-img:hover {
  transform: scale(102%);
}

.movieList-component .action-movie-vote_average-container {
  /* border: solid 2px red; */
  height: 20px;
  position: relative;
  bottom: 45px;
  left: 6px;
}

.movieList-component .action-movie-vote_average {
  background-color: rgba(0, 0, 0, 0.75);

  width: 55px;
  height: 26px;
  border-top-right-radius: 20px;

  color: white;
  font-family: "Avenir Book";
}

.movieList-component .icon-star {
  color: rgb(142, 3, 3);
  margin-right: 2px;
  margin-left: 2px;
}

.movieList-component .action-movie_price-container {
  height: 20px;
  position: relative;
  bottom: 80px;
  left: 6px;
}

.movieList-component .action-movie-price {
  background-color: rgba(0, 0, 0, 0.75);

  width: 55px;
  height: 26px;
  border-top-left-radius: 20px;
  margin-left: 149px;
  text-align: center;
  font-family: "Avenir Book";
  color: white;
  font-size: 15px;
  /* border: solid 2px red; */
}

.movieList-component .icon-price {
  color: rgb(142, 3, 3);
  font-size: 15px;
  padding-right: 2px;
}

.movieList-component .action-movie-title-release-date-container {
  /* border: solid 2px yellow; */
  position: relative;
  bottom: 60px;
  left: 8px;
}

.movieList-component .action-movie-title-release-date {
  /* border: solid 2px red; */
  height: 40px;
  position: absolute;
  color: white;
  font-size: 15px;
}
