
.search-input .search-input-field {
    border-radius: 20px;
    font-size: 15px;
    text-align: start;
    font-family: avenir;
    width: 400px;
    position: relative;
    border: 2px solid green;
    padding: 0;
    margin: 0;
    
       
}
.search-input .search-input-field::placeholder {
    color: black;
    font-weight: bold;
    padding: 30px;
    
}

.search-input .faMagnifyingGlass {
    color: red;
    position: absolute;
    left: 20px;
}

.search-input {
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    
}

/* .search-input .searchbar-input-container .magnifyingglass {
    color: white;
    font-size: 20px;
    position: absolute;
   

} */




