.trending_container {
    margin: 10vh 0;
   
}


.swiper-container {
    padding: 10px 0 !important;
}

.swiper-slide {
    width: auto !important;
}

.trending_pagination_button {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    font-size: 2.5rem;
    
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    transition: 0.5s;
}

.trending_pagination_button.left {
    top: 40%;
    bottom: auto;
}

.trending_pagination_button.right {
    top: 40%;
    bottom: auto;
    right: 0;
}


.trending_pagination_button:hover {
    color: #b51b1b;
}

@media screen and (max-width: 700px) {
    .trending_pagination_button {
        display: none;
    }
}