
::-webkit-scrollbar {
  width: 6px;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #B51B1B;
  border-radius: 25px;
}



* {
  font-family: 'Avenir Book';
}

html {
  margin: 0;
  padding: 0;
  background-color: #212121;
  overflow-x: hidden !important;
}

.section_title {
  font-size: 1.5rem;
  padding-right: 25px;
  color: white;
  border-bottom: 3px solid #B51B1B;
  width: fit-content;
  margin: 15px;
}

