
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

.App {

}

* {
  font-family: 'Avenir Book';
}

html {
  margin: 0;
  padding: 0;
  background-color: #212121;
  overflow-x: hidden;
}

/* Animations */

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  } 
  100% {
      opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform:  translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}