
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}



* {
  font-family: 'Avenir Book';
}

html {
  margin: 0;
  padding: 0;
  background-color: #212121;
  overflow-x: hidden;
}

.section_title {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-right: 25px;
  color: white;
  border-bottom: 5px solid #B51B1B;
  width: fit-content;
  margin-bottom: 1.5rem;
}

